<!DOCTYPE html>
<html>
  <head>
    <title>Looking4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container"><div class="navbar-header"><a class="navbar-brand">Looking4</a></div></div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= form_for @query, url: places_path, method: :get do |f| %>
              <div class="form-group">
                <%= f.text_field :keyword, class: 'form-control', placeholder: 'What' %>
              </div>
              <div class="form-group">
                <%= f.text_field :address, class: 'form-control', placeholder: 'Where' %>
              </div>

              <%= submit_tag 'Search', class: 'btn btn-default' %>
          <% end %>

          <hr />
          
          <ul>
            <% @popular_queries.each do |query| %>
              <li><%= link_to query_title(query), places_path(query_id: query) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
